body{
	background-color: #a1c7b8;
}

.zadanie{
	margin-top: 200px;
	margin-right: 200px;
	margin-left: 200px;
	margin-bottom: 300px;
}
p{
	border-radius: 30px;
	padding: 15px;
	background-color: #9baeb2;
    font-size: 30px;
	margin-right: 90px;
    color: black;
	display: inline-block;
	text-decoration: none;
	
}
.gl{
	border-radius: 30px;
	padding: 15px;
	background-color: #9baeb2;
    font-size: 30px;
	margin-right: 90px;
    color: black;
	display: inline-block;
	text-decoration: none;
}


a{
    color: black;
	display: inline-block;
	text-decoration:
}

a:hover{
	color: white;
	text-decoration: none;
}

a:visited, a:focus, {
    color: #fff;
  }
