div.dav {
	background-color: ;
	height: 15ex;
}

.vprs{
       border-radius: 10px;
       height: 7ex;
}

.cent {
	font-size: 2.2ex;
	background-color: #0;
	height: 24ex;
	width: 76ex;
}

.itv{
   float: left;
   margin-right: 9ex;
   
}

center.otv{
	border-radius: 20px;
	height: 14ex;
	width: 180ex;
}


.itv{
	font-size: 3.5ex;
}



.vbr{
	margin-left: 18ex;
}

a{
	color: #000080;
	display: inline-block;
	text-decoration: none;
}

a:hover{
	color: #8f180d;
	text-decoration: none;
}

a:visited, a:focus, {
    color: #fff;
  }