div.dav {
	height: 15ex;
	background-color: ;
}
html{
	font-size: 10px;
}
table{
	width: 960px
}
th {
	width: auto;
	background-color: #FFE4B5;
	height: auto;
}

p{
    font-size: 2.8em
}

a{
	font-size: 3.2em;
    color: #ff0000;
	display: inline-block;
	text-decoration: none;
}

a:hover{
	color: #7f180d;
	text-decoration: none;
}

a:visited, a:focus, {
    color: #fff;
  }