html{
	font-size: 10px;
}
div.dav{
	margin-top: 100px;
	margin-right: 100px;
	margin-left: 100px;
	margin-bottom: 100px;
}
table{
	width: 960px
}
th {
	width: auto;
	background-color: #cae9f1;
	height: auto;
}

p{
    font-size: 2.3em
}

a{
	font-size: 3em;
    color: #2409ef;
	display: inline-block;
	text-decoration: none;
}

a:hover{
	color: #8723a8;
	text-decoration: none;
}