div.dav {
	height: 15ex;
	background-color: #;
}
.clo{
	background-color: #;
}
.cty{
	background-color: #;
	font-size: 3.3ex;
	float: right;
	border-radius: 4ex;
}

.otsyp{
	background-color: #;
	height: 20ex;
	width: 10ex;
}



.clg{
	font-size: 3.2ex;
}
.pr{
	font-size: 3.5ex;
}


th {
	font-size: 3ex;
	width: 20ex;
	background-color: #;
	height: 8ex;
}

p{
    font-size: 2.2ex
}

a{
    color: black;
	display: inline-block;
	text-decoration: none;
}

a:hover{
	color: #000001;
	text-decoration: none;
}

a:visited, a:focus, {
    color: #fff;
  }